.services {
  &__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
    margin-bottom: 16rem;
    @media (max-width: 54em) {
      margin-bottom: 6rem;
    }
  }
  &__item {
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 3fr;

    @media (max-width: 64em) {
      grid-template-columns: repeat(1, 1fr);
    }

    &__img {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }
  &__title {
    font-size: var(--font-size-xl);
    margin-top: 0;

    @media (max-width: 64em) {
      font-size: var(--font-size-lg);
      margin-bottom: 1rem;
    }
  }
  &__description {
    font-size: var(--font-size-md);
  }
  &__img {
    border-radius: 1rem;
    display: block;

    height: 300px;
    object-fit: cover;
  }
}
