.services {
  &__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
    margin-bottom: 16rem;
    @media (max-width: 54em) {
      margin-bottom: 6rem;
    }
  }
  &__item {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 64em) {
      grid-template-columns: repeat(1, 1fr);
    }

    &__img {
      position: relative;
      height: 500px;
    }
  }
  &__title {
    font-size: var(--font-size-xl);
    margin-top: 0;

    @media (max-width: 64em) {
      font-size: var(--font-size-lg);
      margin-bottom: 1rem;
    }
  }
  &__description {
    font-size: var(--font-size-md);
  }
  &__img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    object-fit: cover;
  }
}
