.tab {
  display: flex;
  justify-content: center;
  gap: 4rem;
  overflow-x: auto;
  @media (max-width: 54em) {
    gap: 3rem;
    justify-content: flex-start;
    margin-left: -32px;
    width: calc(100% + 64px);
  }
  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    position: relative;
    cursor: pointer;
    transition: all 450ms ease-in-out;
    font-size: var(--font-size-lg);
    opacity: 0.8;
    font-weight: 200;
    padding-bottom: 1rem;

    @media (max-width: 54em) {
      font-size: 36px;

      &:first-child {
        margin-left: 3rem;
      }
      &:last-child {
        margin-right: 3rem;
      }
    }

    &:hover {
      transform: scaleX(1.15);
      font-weight: 400;
    }

    &.active {
      transform: scaleX(1.05);
      font-weight: 500;
      opacity: 1;
      &::before {
        left: 0;
        right: 0;
        box-shadow: 0px 4px 12px 3px var(--color-pantone-400);
      }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 1rem;
      left: 50%;
      right: 50%;
      height: 2px;
      background-color: var(--color-white);
      transition: all 450ms ease-in-out;
      z-index: -1;
    }
  }
  &__content {
    margin-top: 7rem;
    @media (max-width: 54em) {
      margin-top: 4rem;
    }
  }
}
