* {
  box-sizing: border-box;
  &::selection {
    color: var(--color-black);
    background: var(--color-yellow-400);
  }
}
body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-white);
  background-image: linear-gradient(
      var(--color-pantone-400-a30) 2px,
      transparent 2px
    ),
    linear-gradient(90deg, var(--color-pantone-400-a30) 2px, transparent 2px),
    linear-gradient(var(--color-pantone-400-a30) 1px, transparent 1px),
    linear-gradient(
      90deg,
      var(--color-pantone-400-a30) 1px,
      var(--color-background) 1px
    );
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

  //font
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  overflow-x: hidden;
}
svg,
img {
  display: block;
  width: 100%;
}

:root {
  --color-background: #0f1718;

  --color-white: white;
  --color-black: #020202;

  --color-pantone-400: #0eccad;
  --color-yellow-400: #f4ff00;
  --color-pantone-400-a30: #0eccac0b;

  --border-rounded: 1rem;
  --border-circle: 1000rem;

  --font-size-base: 18px;
  --font-size-md: 24px;
  --font-size-lg: 42px;
  --font-size-xl: 52px;
  --font-size-2xl: 64px;
}

//typography
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

.type {
  &--orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

//components
@import "./components/contact.scss";
@import "./components/parallax-text.scss";
@import "./components/services.scss";
@import "./components/slider.scss";
@import "./components/tab.scss";

//pages
@import "./pages/home.scss";
